@keyframes h1In {
    from {
        transform: skew(6deg);
        line-height: 3.3;
    }

    to {
        transform: skew(0);
        line-height: 1.1;
    }
}

.case-hero {
    grid-column: 2 / span 12;
    
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 3rem;
    
    margin-block-end: 80px;
    min-height: 90dvh;
    padding-block-start: 200px;

    & h1 {
        --size: 8rem;
        --line-height: 0.9;
        
        display: flex;
        flex-direction: column;
        
        font-size: var(--size);
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: var(--line-height);
        color: #3c3c3c;

        & span {
            height: calc(var(--size) * 1.125);
            overflow: hidden;
            
            animation: h1In 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
            transform: skew(6deg);

            line-height: 3.3;

            &:nth-child(2) {
                animation-delay: 200ms;
            }

            &:nth-child(3) {
                animation-delay: 400ms;
            }

            & strong {
                font-weight: unset;
                color: var(--text);
            }
        }
    }
}

.case-hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

@keyframes metaIn {
    from {
        translate: 0 1rem;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

.case-meta {
    display: flex;
    gap: 1rem;

    margin: 0;
    max-width: 40rem;
    padding: 0;

    opacity: 0;
    translate: 0 1rem;
    animation: metaIn 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation-delay: 800ms;

    list-style-type: none;
}

@keyframes preambleIn {
    from {
        translate: 0 1rem;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

.preamble {
    max-width: 80ch;

    animation: preambleIn 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation-delay: 1200ms;

    translate: 0 1rem;
    opacity: 0;

    & p {
        font-size: 1.5rem;
        line-height: 1.5;
        color: #3c3c3c;

        &:not(:last-of-type) {
            margin-block-end: 2rem;
        }
    }
}