:root {
    --vickhoff-color-loplabbet-background: #ede9ee;
    --vickhoff-color-loplabbet-background-alt: #e5e0e6;
    --vickhoff-color-loplabbet-background-fade-r: 114;
    --vickhoff-color-loplabbet-background-fade-g: 59;
    --vickhoff-color-loplabbet-background-fade-b: 128;
    --vickhoff-color-loplabbet-background-fade-a: 0.1;
    --vickhoff-color-loplabbet-text: #824794;

    --vickhoff-color-absence-background: #f5efeb;
    --vickhoff-color-absence-background-fade-r: 247;
    --vickhoff-color-absence-background-fade-g: 202;
    --vickhoff-color-absence-background-fade-b: 177;
    --vickhoff-color-absence-background-fade-a: 0.3;
    --vickhoff-color-absence-text: #EEA47A;

    --vickhoff-color-design-system-background: #f4f7ff;
    --vickhoff-color-design-system-background-fade-r: 247;
    --vickhoff-color-design-system-background-fade-g: 202;
    --vickhoff-color-design-system-background-fade-b: 177;
    --vickhoff-color-design-system-background-fade-a: 0.3;
    --vickhoff-color-design-system-text: #4473d5;

    --vickhoff-color-mio-background: #F4F4F4;
    --vickhoff-color-mio-background-fade-r: 247;
    --vickhoff-color-mio-background-fade-b: 177;
    --vickhoff-color-mio-background-fade-g: 202;
    --vickhoff-color-mio-background-fade-a: 0.3;
    --vickhoff-color-mio-text: #4797A2;

    --vickhoff-curve-animation-duration: 600ms;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;

    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

body:has(.case:hover) > .custom-cursor {
    opacity: 1;
    scale: 1;
}

body:has(.case.coming-soon:hover) > .custom-cursor {
    background-image: url('/images/coming-soon.svg');
}

@media (width >= 1000px) {
    .case.w\:3\/4 {
        width: 75%;
    }

    .case.w\:1\/2 {
        width: 50%;
    }
}

.case {
    &:not(.coming-soon):hover {
        &::before {
            scale: 1.03;
        }

        & img {
            scale: 1.03;
        }
    }

    &.loplabbet {
        --background: var(--vickhoff-color-loplabbet-background);
        --text: var(--vickhoff-color-loplabbet-text);
    }

    &.absence {
        --background: var(--vickhoff-color-absence-background);
        --text: var(--vickhoff-color-absence-text);
    }

    &.design-system {
        --background: var(--vickhoff-color-design-system-background);
        --text: var(--vickhoff-color-design-system-text);
    }

    &.mio {
        --background: var(--vickhoff-color-mio-background);
    }
}

footer {
    & .loplabbet {
        --background: var(--vickhoff-color-loplabbet-background);
        --text: var(--vickhoff-color-loplabbet-text);
    }

    & .absence {
        --background: var(--vickhoff-color-absence-background);
        --text: var(--vickhoff-color-absence-text);
    }

    & .design-system {
        --background: var(--vickhoff-color-design-system-background);
        --text: var(--vickhoff-color-design-system-text);
    }
}

@keyframes case-img-in {
    from {
        opacity: 0;
        translate: 0 10dvh;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.page {
    & > :where(.background, .page-title, svg) {
        pointer-events: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        
        width: 100vw;
        height: calc(100vh + 600px);
    }

    & > .background {
        background-color: var(--text);
        transition: opacity 500ms linear;
    }

    & > svg {
        fill: var(--text);
    }

    & > .page-title {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 40%;

        transform: translateX(-50%);

        color: white;
        font-size: 46px;
        text-align: center;
    }
}

section.case-layout {
    --gutter: 3.5rem;
    
    display: grid;
    grid-template-columns: var(--gutter) repeat(12, 1fr) var(--gutter);
    justify-content: center;

    background-color: var(--background);
    background-image: linear-gradient(
        253.91deg,
        rgba(var(--background-fade-r), var(--background-fade-g), var(--background-fade-b), var(--background-fade-a)) 0%,
        rgba(var(--background-fade-r), var(--background-fade-g), var(--background-fade-b), 0) 23.35%
    );

    @media (width < 1000px) {
        --gutter: 2rem;
    }

    & > * {
        grid-template-columns: subgrid;
    }

    & > picture {
        grid-column: 2 / span 12;
        
        &.full {
            grid-column: 1 / -1;

            margin-block-end: 80px;
        }

        &:not(.full) {
            margin-block-end: 160px;

            @media (width < 1000px) {
                margin-block-end: 40px;
            }
        }

        &:first-of-type {
            translate: 0 10dvh;
            opacity: 0;
            animation: case-img-in 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
            animation-delay: 1200ms;
        }

        & > img {
            width: 100%;
            height: auto;
        }
    }

    & .case-text-content {
        grid-column: 2 / span 6;

        margin-block-end: 40px;

        color: #3c3c3c;

        @media (width < 1000px) {
            grid-column: 2 / span 12;

            margin-block-end: 20px;
        }

        & h3 {
            margin-block-end: 1rem;
            
            font-size: 1.5rem;
            font-weight: 400;
        }

        & p {
            font-size: 1.125rem;
            font-weight: 300;
            line-height: 1.75;
        }
    }

    & .case-media-content {
        grid-column: 2 / span 12;

        margin-block-end: 160px;
        padding: 8% 16%;
        background-color: var(--background-alt);

        @media (width < 1000px) {
            margin-block-end: 40px;
        }

        & > video {
            width: 100%;
            height: auto;

            box-shadow: 0px 20px 52px 16px #A79CACB5;
        }
    }

    & > h2 {
        grid-column: 2 / span 12;

        margin-block: 10rem;

        font-size: 5.5rem;
        font-weight: 400;
        text-align: end;
        letter-spacing: -0.05em;

        @media (width < 1000px) {
            margin-block: 3rem;
            
            font-size: 3rem;
        }
    }

    & .case-images {
        display: grid;
        grid-column: 2 / span 12;
        grid-template-columns: subgrid;
        gap: 2.5rem;

        margin-block-end: 80px;

        & > picture {
            grid-column: span 6;

            & > img {
                width: 100%;
                height: auto;
            }
        }
    }
}