:root {
    --vickhoff-color-loplabbet-background: #ede9ee;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;

    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

body:has(.case:hover) > .custom-cursor {
    opacity: 1;
    scale: 1;
}

.loplabbet picture {
    background-color: var(--vickhoff-color-loplabbet-background);
}