@keyframes h1-in {
    from {
        transform: skew(6deg);
        line-height: 3.3;
        overflow: hidden;
    }

    to {
        transform: skew(0);
        line-height: 1.1;
        overflow: visible;
    }
}

@keyframes h1-b-in {
    from {
        color: inherit;
    }

    to {
        color: #fff;
    }
}

@keyframes h1-b-before-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 2rem 2.5rem 7rem;
    background-color: #f3f3f3;

    @media (width < 1000px) {
        padding-block-end: 4rem;
    }

    & h1 {
        --size: 5.5rem;
        --line-height: 1.1;

        margin-block-start: 8rem;
        margin-inline-start: 5.25rem;
        
        font-size: var(--size);
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: var(--line-height);
        color: #3c3c3c;

        @media (width >= 1000px) {
            display: flex;
            flex-direction: column;
        }

        @media (width < 1000px) {
            --size: 3rem;
            
            margin-inline-start: 0;
        }

        & span {
            overflow: hidden;
            position: relative;

            height: calc(var(--size) * 1.2);
            
            animation: h1-in 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
            transform: skew(6deg);

            line-height: 3.3;

            &:nth-child(1) {
                z-index: 4;
            }

            &:nth-child(2) {
                animation-delay: 200ms;
            }

            &:nth-child(3) {
                z-index: 4;
                animation-delay: 400ms;
            }

            & i {
                position: relative;
                z-index: 2;

                font-style: normal;
            }

            & b {
                cursor: crosshair;
                position: relative;
                overflow: visible;
                z-index: 1;
                inset-inline-start: 0.5rem;
                display: inline-block;

                margin-inline-end: 0.5ex;

                animation: h1-b-in 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
                animation-delay: 900ms;
                
                font-weight: 400;
                color: inherit;

                &::before {
                    content: '';
                    position: absolute;
                    isolation: isolate;
                    z-index: -1;
                    inset: -10rem -8rem;

                    background-image: url('/images/me.png');
                    background-size: 100%;
                    background-position: 0 40%;
                    clip-path: xywh(7rem calc(50% - 3rem) 6.75ch 6rem round 5rem 5rem);

                    animation: h1-b-before-in 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
                    animation-delay: 750ms;
                    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
                    opacity: 0;
                }

                @media (width < 1000px) {
                    &::before {
                        background-size: 80%;
                        background-position: 40% 60%;
                        clip-path: xywh(7rem calc(50% - 1.5rem) 6.75ch 3rem round 5rem 5rem);
                    }
                }

                &:hover::before {
                    clip-path: xywh(0px 0px 100% 100% round 13rem 13rem);
                    background-size: 110%;
                    background-position-x: -40px;
                }
            }
        }
    }
}

@keyframes preambleIn {
    from {
        translate: 0 2rem;
        opacity: 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

.preamble {
    align-self: end; /* autoprefixer: off */

    margin-inline-end: 6rem;
    max-width: 70ch;

    animation: preambleIn 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation-delay: 1200ms;

    translate: 0 2rem;
    opacity: 0;

    @media (width < 1000px) {
        margin-inline-end: 0;
    }

    & p {
        font-size: 1.75rem;
        color: #3c3c3c;

        &:not(:last-of-type) {
            margin-block-end: 2rem;
        }

        @media (width < 1000px) {
            font-size: 1.5rem;
            line-height: 1.4;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-1rem);
    }

    60% {
        transform: translateY(-.5rem);
    }
}

.scroll-down {
    position: absolute;
    inset-inline-start: 2.5rem;
    inset-block-end: 7rem;

    animation: fadeIn 500ms forwards;
    animation-delay: 2000ms;
    opacity: 0;

    @media (width < 1000px) {
        display: none;
    }
    
    & > img {
        animation: bounce 2s infinite;
    }
}

.cases {
    display: flex;
    flex-direction: column;
    gap: 7rem;

    margin-inline: auto;
    width: min(100%, 1380px);
    padding: 10rem 2.5rem;

    @media (width < 1000px) {
        gap: 4rem;
        
        padding: 4rem 1.5rem;
    }
}

.case {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start; /* autoprefixer: off */
    row-gap: 2.5rem;

    padding: 6rem;

    @media (width < 1000px) {
        padding: 2rem;
    }

    &:nth-child(even) {
        align-self: end; /* autoprefixer: off */
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;

        background-color: var(--background);

        transition: scale 550ms;
    }

    & picture {
        position: relative;
        overflow: hidden;

        width: 100%;
    }

    & .comingsoon {
        position: absolute;
        display: grid;
        place-items: center;
        z-index: 2;
        inset: 0;

        background-color: rgba(26,26,26,0.8);

        letter-spacing: 0.3em;
        font-size: 0.875rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }

    & img {
        width: 100%;
        height: auto;

        transform-origin: center;
        transition: all 250ms;
    }

    & h2 {
        align-self: end; /* autoprefixer: off */
        
        font-size: 2.25rem;
        font-weight: 300;
        letter-spacing: -0.02em;
        color: #3c3c3c;

        @media (width < 1000px) {
            font-size: 1.875rem;
        }

        & strong {
            color: var(--text);
            font-weight: unset;
        }
    }
}

.tags {
    align-self: start;  /* autoprefixer: off */

    display: flex;
    gap: .25rem;
    list-style: none;

    margin: 0;

    & li {
        color: #6e6e6e;

        &:not(:last-of-type) {
            &::after {
                content: ',';
            }
        }
    }
}

.case-meta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    max-width: 50%;

    @media (width < 1200px) {
        max-width: 80%;
    }
}