@keyframes menuOut {
    to {
        translate: 0 -4rem;
        opacity: 0;
    }
}

.menu {
    position: fixed;
    z-index: 1000;
    inset-block-start: 1rem;
    inset-inline-start: 1rem;

    display: flex;
    column-gap: 1rem;

    border-radius: 1rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #0000000A;

    & ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;

        margin: 0;
    }

    & li {
        font-size: 1rem;
        line-height: 1rem;
    }

    & a {
        position: relative;
        
        color: #1e1e1e;

        &:hover::after {
            content: '';
            position: absolute;
            inset-block-end: -.5rem;
            inset-inline: 0;

            height: 3px;
            background-color: currentColor;
        }
    }
}

.active {
    font-weight: 500;

    &::after {
        content: '';
        position: absolute;
        inset-block-end: -.5rem;
        inset-inline: 0;

        height: 3px;
        background-color: currentColor;
    }
}